{% extends "layout.html" %}  
<!-- overriding the 'content' block -->
{% block content %}
	
<div class="table">
	<div class="row">

        <div class="row">
            <h1 class="header center orange-text">Portfolio Optimization Tool</h1>
        </div>

        <div class="row">
            <h5 class="header col s12 light">Enter the tickers of the companies you wish to invest in and the tool will return you the optimal portfolio...
            <br>
            </h5>
        </div>

        <form action='/calculate' method="POST" class="col s12">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="tickers">Enter space-separated tickers:</label>
                        <input type="text" name="tickers" class="form-control" id="tickers" placeholder="MSFT NFLX" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary">Calculate optimal portfolio</button>
                </div>
            </div>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        {{msg}}
                    {% endfor %}
                {% endif %}
            {% endwith %}


    	</form>
    </div>

    <div class="row">
        <form action='/save' method="POST" class="col s12">
            <div class="row">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary" id="save">Save portfolio</button>
                </div>
            </div>
            
        </form>
    </div>

    
</div>

{% endblock content %}