{% extends "layout.html" %}
{% block content %}
<h2>Welcome to Sharp-Portfolio</h2>
<p>Please create an account by Signing Up below</p>
<h3>{{ message }}</h3>
<form action='/signup' method="POST" class="col s12">
    <div class="row">
        <div class="col-md-6">
        	<div class="form-group">

                <label for="room">Enter Email ID:</label>
                <input type="email"  name="email" class="form-control" id="email" placeholder="abc@example.com" required>

                <label for="username">Select a  Username:</label>
                <input type="text"  name="username" class="form-control" id="username" placeholder="Joey" required>
                
                <label for="room">Enter Password:</label>
                <input type="password"  name="password" class="form-control" id="password" placeholder="1234" required>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </div>
</form>

<div class="row">
    <h5>Already have an account? <a href="/login">Login here</a></h5>
</div>


{% endblock %}